<div id="xcard-btn-wrapper">
    <button id="xcard" type="button" class="ui-control icon fa-solid fa-xmark-large" data-action="xcard-whisper"
        data-tooltip="{{title}}" title="{{title}}" aria-label="X Card"></button>
</div>